@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    min-width: 350px;
    margin: 0 auto;
    padding: 15% 10px;
    background: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px; font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Big Shoulders Display', cursive; 
    font-weight: 700; font-size: 2.2em;
    text-transform: uppercase;
    color: var(--very-light-gray);
}
p {
    color: var(--transparent-white);
    margin-top: 30px;
    line-height: 1.5;
}



/* Main */
main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main > section {
    padding:  120px 50px 50px;
}
main > section > button{
    margin-top: 90px;
    padding: 20px;
    width: 70%;
    background-color: var(--very-light-gray);
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
}

/* Section - Sedans */
main section.sedans {
    background: var(--bright-orange) url('../images/icon-sedans.svg') no-repeat 50px 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
main section.sedans button {
    color: var(--bright-orange);
}

/* Section - SUVs */
main section.suvs {
    background: var(--dark-cyan) url('../images/icon-suvs.svg') no-repeat 50px 50px;
}
main section.suvs button {
    color: var(--dark-cyan);
}

/* Section - Luxury */
main section.luxury {
    background: var(--very-dark-cyan) url('../images/icon-luxury.svg') no-repeat 50px 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main section.luxury button {
    color: var(--very-dark-cyan);
}



@media screen and (max-width: 920px) {

    main{
        grid-template-columns: 1fr 1fr;
    }

    main section.sedans{ border-bottom-left-radius: 0px; }
    main section.suvs{ border-top-right-radius: 10px; }
    main section.luxury {
        grid-column: 1/3;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main section.luxury button {
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    main{
        grid-template-columns: 1fr;
    }

    main section.sedans{ border-top-right-radius: 10px; }
    main section.suvs{ border-top-right-radius: 0px; }
    main section.luxury {
        grid-column: 1/2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main section.luxury button {
        max-width: none;
    }
}










